@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply font-inter antialiased overflow-x-hidden bg-[#1a1a1a];
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #f2f2f250;
  border-radius: 20px;
}

.inner-shadow-input {
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5, 10);
}

/* Handle Search Bar Animation */
@keyframes search-bar-from-left {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  50% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.search-bar-animated-left {
  animation: search-bar-from-left ease-in 0.3s;
}

/* Navbar Profile Animation */
.spinner {
  background-image: linear-gradient(#8b5cf6 35%, #3b82f6);
  width: 24px;
  height: 24px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px #8b5cf6, 0px 5px 20px 0px #3b82f6;
}
.spinner1 {
  background-color: rgb(36, 36, 36);
  width: 24px;
  height: 24px;
  border-radius: 50px;
  filter: blur(10px);
}
@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}

/* Header Dropdown Triangle */
.triangle {
  width: 15px;
  height: 10px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

/* Header Techs Animations */
@keyframes tech-from-up {
  0% {
    transform: translate3d(0px, -150px, 0px);
    opacity: 0;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}
@keyframes tech-from-down {
  0% {
    transform: translate3d(0px, 150px, 0px);
    opacity: 0;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}
.animate-tech-from-up {
  animation: tech-from-up 0.7s ease-out;
}
.animate-tech-from-down {
  animation: tech-from-down 0.7s ease-out;
}

/* Post Options Span Animation  */
@keyframes options-from-left {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.options-animate-span {
  animation: options-from-left ease-in 0.2s;
}

/* Post Submit */
.textarea-submit-comment {
  background: #252525;
  font-size: 16px;
}
.triangle-submit-comment {
  width: 25px;
  height: 13px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

/* Scroll Hidden */
.scrollHiddenCSO::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
.scrollHiddenIEF {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
