@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply font-inter antialiased overflow-x-hidden bg-[#1a1a1a];
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #f2f2f250;
  border-radius: 20px;
}

.inner-shadow-input {
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5, 10);
}

/* Handle Search Bar Animation */
@keyframes search-bar-from-left {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  50% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.search-bar-animated-left {
  animation: search-bar-from-left ease-in 0.3s;
}

/* Navbar Profile Animation */
.spinner {
  background-image: linear-gradient(#8b5cf6 35%, #3b82f6);
  width: 24px;
  height: 24px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px #8b5cf6, 0px 5px 20px 0px #3b82f6;
}
.spinner1 {
  background-color: rgb(36, 36, 36);
  width: 24px;
  height: 24px;
  border-radius: 50px;
  filter: blur(10px);
}
@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}

/* Header Dropdown Triangle */
.triangle {
  width: 15px;
  height: 10px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

/* Header Techs Animations */
@keyframes tech-from-up {
  0% {
    transform: translate3d(0px, -150px, 0px);
    opacity: 0;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}
@keyframes tech-from-down {
  0% {
    transform: translate3d(0px, 150px, 0px);
    opacity: 0;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
    opacity: 1;
  }
}
.animate-tech-from-up {
  animation: tech-from-up 0.7s ease-out;
}
.animate-tech-from-down {
  animation: tech-from-down 0.7s ease-out;
}

/* Post Options Span Animation  */
@keyframes options-from-left {
  0% {
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.options-animate-span {
  animation: options-from-left ease-in 0.2s;
}

/* Post Submit */
.textarea-submit-comment {
  background: #252525;
  font-size: 16px;
}
.triangle-submit-comment {
  width: 25px;
  height: 13px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

/* Scroll Hidden */
.scrollHiddenCSO::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
.scrollHiddenIEF {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* PopUp Buttons */
.popup-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 80px;
  background-clip: padding-box;
  color: #f2f2f2;
  padding: 4px 10px;
  border-radius: 999px;
  transition: all 0.5s ease;
}

.popup-button:active {
  transform: scale(1) !important;
  transition: all 100ms ease;
}
.popup-button:hover {
  transform: scale(1.1);
}
.popup-button svg {
  width: 16px;
}

/* Login Form  */
.form-control {
  position: relative;
  margin: 20px 0px;
  width: 100%;
}
.form-control input {
  background-color: #00000050;
  border: 0;
  border-radius: 2px;
  border-bottom: 2px #f2f2f2 solid;
  display: block;
  width: 100%;
  box-shadow: inset 0 0 10px #00000080;
  padding: 8px;
  font-size: 18px;
  color: #f2f2f2;
}
.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: #3b82f6;
}
.form-control label {
  position: absolute;
  bottom: 8px;
  left: 8px;
  pointer-events: none;
}
.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #f2f2f2;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.form-control input:focus + label span,
.form-control input:valid + label span {
  color: #3b82f6;
  transform: translateY(-34px) translateX(-8px);
}

/* Form Login Button */
.form-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-image: linear-gradient(to top, #3b82f6, #8b5cf6);
  background-clip: padding-box;
  color: #f2f2f2;
  padding: 4px 18px;
  border-radius: 999px;
  transition: all 0.5s ease;
}

.form-login-button:active {
  transform: scale(0.9) !important;
  transition: all 100ms ease;
}

.form-login-button svg {
  width: 16px;
}

/* Avatar Profile Animation */
.inner-shadow {
  box-shadow: inset 0 0 10px #00000080;
}
@keyframes scale {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1.1);
  }
}
.box-animate {
  animation: scale 1s infinite alternate;
}
.pendulum {
  transform-origin: 50% 0%;
  animation: pendulum 2.5s ease-in-out infinite;
}
@keyframes pendulum {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}
